.cart-items {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  padding: 1rem;
  max-height: 60vh;
  color: black;
  background-color: white;
  z-index: 100;
}

.cart-items__entries {
  max-height: 40vh;
  overflow-y: scroll;
}

.cart-items__entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-items h3 {
  margin: 1rem auto;
  font-size: 1.5rem;
}

.cart-items__entry button {
  display: inline;
  width: 3rem;
  text-align: center;
  margin: 0.25rem;
  border: 1px solid #8a2b06;
  color: #8a2b06;
  background-color: transparent;
  border-radius: 0.5rem;
}

.cart-items__entry__price {
  color: #8a2b06;
  font-weight: bold;
}

.cart-items__entry__quantity {
  margin-left: 2rem;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.cart-items hr {
  margin: 1rem auto;
}

.cart-items__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.cart-items__summary h3 {
  margin: 0;
}

.cart-items__summary p {
  font-weight: bold;
}

.cart-items__summary-buttons {
  display: flex;
  justify-content: flex-end;
}

.cart-items__summary-buttons button {
  border: 1px solid #8a2b06;
  background-color: transparent;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
}

.cart-items__summary-buttons :first-child {
  margin-right: 1rem;
  color: #8a2b06;
}

.cart-items__summary-buttons :last-child {
  background-color: #8a2b06;
  color: white;
}
