.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item__name {
  margin: 1rem auto;
  font-size: 1.5rem;
}

.cart-item__price {
  color: #8a2b06;
  font-weight: bold;
}

.cart-item__quantity {
  margin-left: 2rem;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.cart-item__button {
  width: 3rem;
  text-align: center;
  margin: 0.25rem;
  border: 1px solid #8a2b06;
  color: #8a2b06;
  background-color: transparent;
  border-radius: 0.5rem;
}
