.main-content {
  color: white;
  background-color: #2f2f2f;
}

.main-content__container {
  background-color: white;
  width: 90%;
  margin: 1.5rem auto;
  padding: 1rem 2rem;
}

.main-content__description {
  text-align: center;
  background-color: #383838;
}
